* {
  box-sizing: border-box;
}
img {
  border: 0;
  outline: 0;
}
html,
body,
p,
form,
ul,
li,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
html {
  font: normal 1rem Arial;
  color: #333;
}
html body {
  background: #fff;
}
html body h1,
html body h2 {
  font-weight: normal;
  margin: 0.25em 0 0.4em 0;
}
html body > .header {
  display: table;
  width: 100%;
  height: 100%;
}
html body > .header > header {
  display: table-cell;
  vertical-align: middle;
}
html body > .header > header h1,
html body > .header > header h2 {
  text-align: center;
  font-weight: 100;
}
html body > .header > header h1 {
  font-size: 5rem;
}
html body > .header > header h2 {
  font-size: 2rem;
}
html body a {
  color: #333;
}
html main {
  background: #f5f5f8;
  padding: 4rem 25% 20px 25%;
}
html main > h1 {
  font-size: 2.5rem;
}
#test {
  content: "Fuck,ono to funguje :D ROFL. Once funguje taky?";
}
